:root {
  --bs-success: #669f0a !important;
  --bs-success-text-emphasis: #669f0a;
  --bs-success-bg-subtle: #669f0a;
  --bs-success-border-subtle: #669f0a;
}

html,
body {
  font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden;
}

.container {
  width: 90%;
}

.header {
  top: 0;
  z-index: 99;
  /* overflow: hidden; */
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;

}

*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.blur-lg {
  --tw-blur: blur(16px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-md {
  --tw-blur: blur(12px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-sm {
  --tw-blur: blur(4px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-xl {
  --tw-blur: blur(24px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.m-4 {
  margin: 1rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border {
  border-width: 1px !important;
}

.border-avo {
  --tw-border-opacity: 1;
  border-color: rgb(102 159 10 / var(--tw-border-opacity)) !important;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}


.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.text-xs {
  font-size: 0.75rem !important;
  line-height: 1rem;
}

.transition {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.hover\:bg-avo:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(102 159 10 / var(--tw-bg-opacity));
}

.input-flag {
  background: url(../assets/Flag_of_Morocco.png) no-repeat scroll 14px 50%;
  padding-left: 50px !important;
  background-size: 30px;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-32 {
  margin-top: 8rem;
}

.mt-40 {
  margin-top: 10rem;
}

.mt-60 {
  margin-top: 15rem;
}

.mt-72 {
  margin-top: 18rem;
}

.mt-80 {
  margin-top: 20rem;
}

.mt-96 {
  margin-top: 24rem;
}


.text-melon {
  color: #da1538;
}

.text-brown {
  color: #885c18;
}

.text-avo {
  color: #669f0a !important;
}

.text-avo-200 {
  color: #f1f9e4 !important;
}

.text-avo-light {
  color: #e0eecb !important;
}

.border-avo {
  border: 1px solid #669f0a;
}

.bg-avo-light {
  background-color: #e0eecb;
}

.bg-avo {
  background-color: #669f0a;
}

.bg-avo-200 {
  background-color: #f1f9e4;
}

.bg-gray {
  background-color: #2f2f2f;
}

.text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem;
}

.h-screen {
  height: 100%;
}

.w-screen {
  width: 100vw;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-5 {
  width: 50px;
}

.h-1 {
  height: 0.7px;
}


.h-25 {
  height: 25%;
}

.h-20 {
  height: 20%;
}

.h-100 {
  height: 100%;
}

.w-26 {
  height: 26% !important;
}

.w-20 {
  height: 20% !important;
}

.w-40 {
  width: 40% !important;
}

.h-800 {
  min-height: 800px;
}

.h-700 {
  min-height: 700px;
}

.h-600 {
  height: 600px !important;
}

.w-600 {
  width: 600px !important;
}

.h-500 {
  height: 300px !important;
}

.h-600-responsive {
  height: 200px !important;
}

.h-650 {
  height: 100% !important;
}

.h-fixed-200 {
  height: 200px !important;
}

.h-fixed-100 {
  height: 100px !important;
}

.h-fixed-150 {
  height: 150px !important;
}


.h-fixed-300 {
  height: 100% !important;
}

.h-400 {
  height: 200px !important;
}

.w-400 {
  width: 400px !important;
}

.w-300 {
  width: 300px !important;
}

.w-250 {
  max-width: 250px !important;
}

.pl-10 {
  padding-left: 10% !important;
}

.pr-10 {
  padding-right: 10% !important;
}

.pl-5 {
  padding-left: 5% !important;
}

ol,
ul {
  padding-left: 1rem;
}

.rounded-right {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.rounded-left {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.fs-7 {
  font-size: 13px;
}

.fs-8 {
  font-size: 14px;
}

.fs-9 {
  font-size: 12px;
}



.row {
  margin: 0;
  padding: 0;
}

.row>* {
  padding: 0;
}

.-z-1 {
  z-index: -1;
}

.z-10 {
  z-index: 10;
}



.btn {
  padding: 10px 20px;
  border-radius: 10px;
}

.swiper-info-btn {
  position: absolute;
  bottom: 0;
  left: 54%;
  right: 0;
  top: 84%;
}

.btn-primary {
  background-color: #16492f;
  border-color: #16492f;
  font-size: small;
}

.btn-outline-primary {
  color: #16492f;
  background-color: #fff;
  border-color: #16492f;
  font-size: small;
}

.btn-outline-primary:hover {
  background-color: #16492f;
  color: #fff;
  border-color: #16492f;

}

.line {
  width: 4%;
  height: 3px;
  margin-top: 16px;
}

.btn-outline-secondary {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  font-size: small;
}

.btn-outline-secondary:hover {
  background-color: #fff;
  color: #16492f;
  border-color: #fff;

}


.btn-primary:hover {
  background-color: #fff;
  color: #16492f;
  border-color: #16492f;

}



.text-green {
  color: #16492f;
}

.text-red {
  color: #8d2337;
}

.bg-melon {
  background-color: #fafff3;
}

.bg-red {
  background-color: #8d2337;
}

.bg-green {
  background-color: #16492f;
}

/* .bg-menu {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: 0.7s all ease-in-out;
  background: #fff
}

.active-menu {
  z-index: 99;
  transform: translateX(0);
  overscroll-behavior: contain;
  position: fixed;
  background: #fff
} */

.active {
  font-weight: bold !important;
  color: #8d2337;
  background-color: #16492f;
}

.dropdown-item.active,
.dropdown-item:active {
  font-weight: bold !important;
  color: #8d2337;
  background-color: #16492f;
}


.active-link {
  color: #8d2337
}

.active-link>span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #16492f
}

.nav-item:hover {
  color: #8d2337;
}


.svg-size {
  height: 20px;
  width: 20px;
}

.svg-size-2 {
  height: 60px;
}

.relative {
  position: relative;
}

.logo {
  width: 100px;
}

.border-20 {
  border-radius: 20px;
}

.border-red {
  border-color: #8d2337;
}

.bg-menu {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: 0.7s;
  background: rgba(224, 238, 203, 0.7);
  backdrop-filter: blur(6px);
}

.active-menu {
  transform: translateX(0);
  overscroll-behavior: contain;
  position: fixed;
}

.border-green {
  border-color: #16492f;
}

.bg-center {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: cover;
}